#configs and passwords
secrets.json
ff-profile.json

#artwork config .gitignore
catalog.json
swap.json
swap.py
art-majeur-catalog.json
saatchi-art-catalog.json


#artwork folders
artwork*



#misc files
misc_text*
recycl-bin*